html {
    --blue: #24a0ed;
    --lightBlue: #63bbf2;
    --darkBlue: #1183ca;
    --destauratedBlue: #389bd9;
    --red: #c23037;
    --lightRed: #d45157;
    --darkRed: #ae2b31;
    --desaturatedRed: #d9656b;
    --gray: #c4c4c4;
    --lightGray: #e1e1e1;
    --darkGray: #9d9d9d;
    --desaturatedGray: #f5f5f5;
    text-align: center;
    background-color: var(--desaturatedGray);
    --pastelYellow: #fdfd96;
    --pastelOrange: #ffb347;
    --pastelRed: #ff6961;
    --pastelGreen: #77DD77;
    --green: #06c258;
    --lightGreen: #90ee90;
    --darkGreen: #2e712a;
}

.ComponentContainer {
    padding: 3px;
    margin: 0px;
    border: black solid 1px;
    border-radius: 0px;
}

.PopupContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    padding: 15px;
    border: black solid 1px;
    border-radius: 7px;
    background-color: white;
}

.PopupsContainer.Active {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(173, 173, 173, 0.6);
    z-index: 1000;
}

.DecorativeText {
    font-weight: 700;
}

.Title {
    font-size: 150%;
    font-weight: 600;
    padding: 5px;
    height: 32px;
}

.MultiselectDropdown {
    width: 90%;
    border: black solid 1px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    min-height: 21px;
}

.DropdownValues {
    position: absolute;
    background-color: white;
    min-width: 100px;
    z-index: 100;
}

.DropdownValues div {
    padding: 3px;
    border: black solid;
    border-width: 0 1px 1px 1px;
}

.DropdownValues div input[type=checkbox] {
    float: left;
    width: 16px;
    height: 16px;
}

input, select {
    border: black solid 1px;
}

.Notification {
    text-align: center;
    padding: 15px;
    border: black solid 1px;
    border-radius: 5px;
    margin: 15px;
    white-space: pre-line;
}

.Notification.Error {
    background-color: var(--lightRed);
}

.Notification.Info {
    background-color: var(--lightBlue);
}

div.NotificationsContainer {
    position: absolute;
    z-index: 1000;
    top: 5%;
    min-width: 10%;
    max-width: 75%;
    transform: translate(-50%);
    left: 50%;
}

.HomeScreen {
    display: flex;
    flex-direction: row;
}

.ScreenCard {
    height: 200px;
    width: 150px;
    border: black solid 1px;
    padding: 10px;
    border-radius: 10px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
}

.ScreenCard > svg {
    flex-grow: 1;
    margin: auto;
}

.WorkstationCard {
    height: 200px;
    width: 150px;
    border: black solid 1px;
    padding: 10px;
    border-radius: 10px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
}