.Form input,
.Form select,
.Form textarea {
    padding: 5px;
    margin: 5px;
}

.Form .Title {
    font-size: 125%;
    text-align: center;
    margin: 5px;
}

.Form .Error {
    color: var(--lightRed);
    white-space: pre-line;
}

.Form form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.Form textarea {
    max-height: calc(100vh - 700px);
    max-width: 60vw;
    min-width: 328px;
    min-height: 30px;
}