.Form input,
.Form select {
    padding: 5px;
    margin: 5px;
}

.Form .Title {
    font-size: 125%;
    text-align: center;
    margin: 5px;
}

.Form .Error {
    color: var(--lightRed);
    white-space: pre-line;
}

.Form form {
    display: flex;
    flex-direction: column;
    text-align: left;
}
